---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		
		<p>TEST</p>
		
		<div class="progress-bar bg-primary aos"
				 role="progressbar"
				 data-aos="slide-right"
				 data-aos-delay="200"
				 data-aos-duration="1000"
				 data-aos-easing="ease-in-out"
				 style="width: 80%"
				 aria-valuenow="30"
				 aria-valuemin="0"
				 aria-valuemax="100">
		</div>
		
	</main>
</Layout>
