---
import 'aos/src/sass/aos.scss'
import '@/scss/style.scss'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />

		<!-- This would make 'aos' available globally -->
		<!-- But unfortunately we cannot resolve/include such a script from node_modules -->
		<!-- <script is:inline src="/vendor/aos/aos.js"></script> -->

		<!-- This is the suggested approach, but it will not make 'aos' available globally, so does not work -->
		<script>
			import "aos/dist/aos.js";
		</script>

		<!-- This is an example script (provided via 3th party template, which assumes/needs 'aos' to available globally)  -->
		<script is:inline src="/js/external-theme.js"></script>

	</body>
</html>
